body {
  background-color: #fff;
  font-family: Raleway,sans-serif;
  font-weight: 400;
  color: #0c0b09;
  font-size: 14px;
  line-height: 1.3em;
  padding: 50px 0;
  position: relative;
}

.boite {
  border: 1px solid #000;
  padding: 20px;
  position: relative;
}

.prix {
  display:block;
  font-size: 0.75em;
}

a.btn-en-savoir-plus {
  background: #000;
  color: #FFF;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}

a.btn-supprimer {
  background: #000;
  color: #FFF;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 10px;
}

.contenu {
  display: none;
}
